*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Garamond;
}

.header{
    background-color: rgb(243, 237, 229);
    text-align: center;
    font-size: 30px;
    padding: 32px;
    margin-bottom: 2em;
}

.container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

.recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 3px;
    border-radius: 10px;
    padding: 5px;
}

img{
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.recipe-title{
    margin: 0;
    color: black;
    font-size: 20px;
}

